@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

/* css reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* css start */

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgba(250, 250, 250, 0.85);
  padding: 0.8rem 0.5rem;
  border-radius: 5rem;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  min-width: 15rem;
}

.btn-dark {
  color: #fff;
  background-color: rgba(48, 48, 48, 0.85);
}

.btn-light {
  background-color: rgba(250, 250, 250, 0.85);
}

.ml {
  margin-left: 1.5rem;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header .tesla-text-hidden {
  -webkit-clip-path: inset(100%);
}

.header .nav-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-mobile {
  display: none;
}

nav {
  position: relative;
  display: flex;
}

nav a {
  color: #171a20;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  border-radius: 0.8rem;
  transition: 0.85s;
}

nav a:hover {
  background-color: rgba(58, 58, 58, 0.2);
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main section {
  height: 100vh;
  color: #fff;
  scroll-snap-align: start;

  background-size: cover;
  background-position: center;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  /*animation: scroll-down 1.5s ease infinite;*/ /* animation not working */
}

#section-model-3 {
  background-image: url(../img/model-3.jpeg);
}

#section-model-y {
  background-image: url(../img/model-y.jpeg);
}

#section-model-s {
  background-image: url(../img/model-s.jpeg);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10rem 0 5rem;
  box-sizing: border-box;
  text-align: center;
}

.content-header {
  display: flex;
  flex-direction: column;
}

.content-header h2 {
  color: #393c41;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.content-header p {
  color: #393c41;
  font-size: 0.8rem;
}
.content-header p span {
  text-decoration: underline;
}

.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-main,
.nav-main,
.nav-sub {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .nav-main,
  .nav-sub {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}
